<!-- Título da aba -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title color="branco"  > Meu Livro de Receitas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- Usuário -->
<ion-item button (click)="testClick()" color="tertiary">
  <ion-avatar slot="start">
    <img src="https://images.unsplash.com/photo-1619895862022-09114b41f16f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHVzZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60">
  </ion-avatar>
  <ion-label color="branco">
    Bárbara Ribeiro
  </ion-label>
</ion-item>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Tab 1</ion-title>
      </ion-toolbar>
    </ion-header>

  <!-- Receitas -->

  <ion-item button (click)="testClick()">
    <ion-thumbnail slot="start">
      <img src="https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
    </ion-thumbnail>
    <ion-label>
      Salada Ceasar
    </ion-label>
    <ion-icon name="close-circle" slot="end"></ion-icon>
  </ion-item>

  <ion-item button (click)="testClick()">
    <ion-thumbnail slot="start">
      <img src="https://images.unsplash.com/photo-1565958011703-44f9829ba187?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80">
    </ion-thumbnail>
    <ion-label>
      Bolo de Morango
    </ion-label>
    <ion-icon name="close-circle" slot="end"></ion-icon>
  </ion-item>

  <ion-item button (click)="testClick()">
    <ion-thumbnail slot="start">
      <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=780&q=80">
    </ion-thumbnail>
    <ion-label>
      Panqueca Americana
    </ion-label>
    <ion-icon name="close-circle" slot="end"></ion-icon>
  </ion-item>

  <ion-item button (click)="testClick()">
    <ion-thumbnail slot="start">
      <img src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=710&q=80">
    </ion-thumbnail>
    <ion-label>
      Bárbara Ribeiro
    </ion-label>
    <ion-icon name="close-circle" slot="end"></ion-icon>
  </ion-item>

  <ion-item button (click)="testClick()">
    <ion-thumbnail slot="start">
      <img src="https://images.unsplash.com/photo-1557748362-4e95f0de4f6f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTh8fGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60">
    </ion-thumbnail>
    <ion-label>
      Bárbara Ribeiro
    </ion-label>

    <ion-icon name="close-circle" slot="end"></ion-icon>
  </ion-item>
  <ion-item button (click)="testClick()">
    <ion-thumbnail slot="start">
      <img src="https://images.unsplash.com/photo-1509365465985-25d11c17e812?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTM3fHxmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
    </ion-thumbnail>
    <ion-label>
      Bárbara Ribeiro
    </ion-label>
    <ion-icon name="close-circle" slot="end"></ion-icon>
  </ion-item>

  <ion-item button (click)="testClick()">
    <ion-thumbnail slot="start">
      <img src="https://images.unsplash.com/photo-1593854823220-49d01bebbfdc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTEyfHxmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
    </ion-thumbnail>
    <ion-label>
      Bárbara Ribeiro
    </ion-label>
    <ion-icon name="close-circle" slot="end"></ion-icon>
  </ion-item>

  <ion-item button (click)="testClick()">
    <ion-thumbnail slot="start">
      <img src="https://images.unsplash.com/photo-1481931098730-318b6f776db0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=690&q=80">
    </ion-thumbnail>
    <ion-label>
      Bárbara Ribeiro
    </ion-label>
    <ion-icon name="close-circle" slot="end"></ion-icon>
  </ion-item>

  <ion-item button (click)="testClick()">
    <ion-thumbnail slot="start">
      <img src="https://images.unsplash.com/photo-1529042410759-befb1204b468?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80">
    </ion-thumbnail>
    <ion-label>
      Bárbara Ribeiro
    </ion-label>
    <ion-icon name="close-circle" slot="end"></ion-icon>
  </ion-item>


<!-- Scroll infinito -->

<ion-content scroll-y="false">
  <virtual-scroll-element class="ion-content-scroll-host">
    <!-- Your virtual scroll content -->
  </virtual-scroll-element>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

