<!-- Título da aba -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title color="branco">
      Lista de Compras
    </ion-title>
  </ion-toolbar>
</ion-header>


<!--
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Receita</ion-card-subtitle>
    <ion-card-title>Bolo de morango</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Pão de ló:<br/><br/>
    5 ovos<br/>
    2 xícaras (chá) de açúcar<br/>
    2 xícaras (chá) de farinha de trigo<br/>
    1 xícara (cha) de leite quente<br/>
    1 colher (sopa) de fermento em pó<br/>
    <br/>
    Recheio:<br/><br/>
    1/2 litro de leite<br/>
    1 lata de leite condensado<br/>
    1 lata de creme de leite<br/>
    3 gemas<br/>
    3 colheres de amido de milho<br/>
    2 caixinhas de morango<br/>
    <br/>
    Cobertura:<br/><br/>
    2 caixinhas de chantilly pronto<br/>
    1 caixinha de morango<br/>
  </ion-card-content>
</ion-card>
-->


<!--  Novo ítem -->
<ion-item><ion-label>Adicionar:</ion-label>
<ion-input color= "medium" clearInput value="Novo ítem"></ion-input>

</ion-item>


<!-- ítens -->

<ion-item>
  <ion-label>Ovo</ion-label>
  <ion-checkbox color="primary"  slot="start" ></ion-checkbox>
  <ion-icon name="close-circle" color="primary" slot="end"></ion-icon>
</ion-item>

<ion-item>
   <ion-label>Açúcar</ion-label>
    <ion-checkbox color="secondary"  slot="start"></ion-checkbox>
    <ion-icon name="close-circle" color="secondary" slot="end"></ion-icon>
</ion-item>

<ion-item>
  <ion-label>Farinha de trigo</ion-label>
  <ion-checkbox color="tertiary"  slot="start"></ion-checkbox>
  <ion-icon name="close-circle" color="tertiary" slot="end"></ion-icon>
</ion-item>

<ion-item>
  <ion-label>Leite</ion-label>
  <ion-checkbox color="primary"  slot="start"></ion-checkbox>
  <ion-icon name="close-circle" color="primary" slot="end"></ion-icon>
</ion-item>

<ion-item>
  <ion-label>Leite consensado</ion-label>
  <ion-checkbox color="secondary"  slot="start"></ion-checkbox>
  <ion-icon name="close-circle"  color="secondary" slot="end"></ion-icon>
</ion-item>

<ion-item>
  <ion-label>Amido de milho</ion-label>
  <ion-checkbox color="tertiary"  slot="start"></ion-checkbox>
  <ion-icon name="close-circle" color="tertiary" slot="end"></ion-icon>
</ion-item>

<ion-item>
  <ion-label>Morango</ion-label>
  <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
  <ion-icon name="close-circle" color="primary" slot="end"></ion-icon>
</ion-item>

<ion-item>
  <ion-label>Chantilly</ion-label>
  <ion-checkbox color="secondary" checked slot="start"></ion-checkbox>
  <ion-icon name="close-circle"  color="secondary" slot="end"></ion-icon>
</ion-item>



<!-- Scroll infinito -->
<ion-content scroll-y="false">
  <virtual-scroll-element class="ion-content-scroll-host">
    <!-- Your virtual scroll content -->
  </virtual-scroll-element>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

